@charset "uft-8";

:root {
    
    --cor1: #4D5382;
    --cor2: #8FBFE0;
    --cor3: #F5CAC3;
    
}

* {
    text-align: center;
    margin: 0%;
}

body {
    background-image: linear-gradient(to right, var(--cor1), var(--cor2)); 
}

header {
    background-color: green;
    width: 800px;
    margin: auto;
    padding: 15px;
    border-radius: 5px 5px 0px 0px;
}

main {
    background-color: yellow;
    padding: 15px;
    width: 800px;
    height: 400px;
    margin: auto;
    border-radius: 0px 0px 5px 5px;
}

h4, #resposta {
    padding: 15px;
}